html {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.grid-box {
    display: grid;
    grid-template: repeat(5, 20%) / repeat(5, 20%);
    gap: 20px;
    justify-content: space-around;
}

.grid-box div {
    width: 100%;
    height: 200px;  
    border-radius: 40px;
    background-color: #00ffff;
}

.grid-item {
    grid-column: 1 / 1;
    height: 200px;
}

.grid-item-1 {
    height: 100%;
    grid-column: 2 / 5;
}

.grid-item-3, .grid-item-4, .grid-item-5, .grid-item-6 {
    margin-top: 43px;
}

.grid-item-4 {
    grid-column: 2 / 5;
    grid-row-start: 2;
    margin-bottom: 143px;
}

.grid-item-6 {
    grid-row-start: 3;
    grid-column: 2 / 5;
    height: 50%;
    margin-top: 143px;
}